.colorRed{
    background-color: #D80536;
    border-color: #D80536;
}
.colorRed:hover{
    background-color: #D80536;
    border-color: #D80536;
}
.colorRed:active{
    color: #D80536;
    color: #D80536;
}
#container{
    margin-bottom: 5%;
    margin-top: 75px;
}
.import{
    margin-top: 3%;
}
.titleMusic{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin:auto;
}
.ppV2{
    text-align: center;
    align-items: center;
}
.pp{
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.artist{
    margin-left:3%;
    margin-right:3%;
}

#mainAdding{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 75px;
}
#formAdding{
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 20px;
    padding: 5%;
    border: solid 4px #3B556D;
    border-radius: 3%;
}
.clear{
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
}
.sliderTest{
    display: flex;
    overflow: scroll;
    text-align: center;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color: #D80536;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #2B2E42;
}
::-webkit-scrollbar-track{
    background-color: gainsboro;
    border-radius: 20px;

}

.album{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    margin-top:2%;
    margin-bottom:2%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #EDF2F4;
    padding:2%;
    border:1px solid #D80536;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.album h3{
    font-size: 1.2em;
    color: #2B2E42;
}
.album h1{
    font-size: 1.5em;
    color: #2B2E42;
}
.marginTop{
    margin-top: 5%;
}
.lastEcoute{
    padding: 2%;
    margin: 2%;
}

.ecarted{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15%;
}

.addingFriend{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    margin: 2%;
    text-align: center;
}

.onclicktest{
    cursor: pointer;
    transition: transform 0.3s;
    /* background-color: red; */
}
.onclicktest:hover{
    transform: scale(1.1);
}
.ecart{
    margin-left:5%;
    margin-right:5%;
}
.rechercheTitle{
    margin: 2%;
    text-align: center;
}
/* .recherche{
     margin: 5%;
    text-align: center; 
} */

.music{
   background-color: #EDF2F4;
   display : grid;
   grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 2fr 1fr 1fr;
   padding:5px;
   margin:2%;
   max-height: 60px;
}
.musicAr h2{
    font-size: 1.2em;
    color: #2B2E42;
}
.musicAr{
    background-color: #EDF2F4;
    display : grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
    padding:5px;
    margin:2%;
    max-height: 60px;
}
.musicArtist{
    background-color: #EDF2F4;
    display : grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr 1fr;
    padding:5px;
    margin:2%;
    max-height: 60px;
}

.musicArtist h2{
    font-size: 1.2em;
    color: #2B2E42;
}

.side{
    margin: 3%;
}
.music h2{
    font-size: 1.2em;
    color: #2B2E42;
}
.little{
    margin: 3%;
    max-height: 50px;
    max-width: 50px;
}
.center{
    text-align: center;
    margin: auto;
}
.topPlaylist{
    margin:2%;
    display : grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    column-gap: 5%;
}
.all{
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 2%;
}
.all h1{
    font-size: 2.5em;
    color: #2B2E42;
}
.albumPart{
    grid-column-start: 1;
    grid-column-end: 4;
    margin:2%;
    font-size: 2.5em;
    color: #2B2E42;
}
.img{
    grid-column-start: 2;
    grid-column-end: 2;
}
.infoPlaylist{
    grid-column-start: 3;
    grid-column-end: 3;
    /* Espace bien les choses */
    display: flex;
    flex-direction: column;
}
.topPlaylist h1{
    font-size: 2em;
    color: #2B2E42;
}
.topPlaylist h2{
    font-size: 1em;
    color: #2B2E42;
}

.footbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 20px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
  }
.littleMargin{
    padding: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titleMusic h3{
    font-size: 1em;
    color: #2B2E42;
}
.titleMusic h5{
    font-size: 0.5em;
    color: #2B2E42;
}

.centerLike{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

audio{
    display: none;
  }

  body{
    background-color: #F8F3F3;
  }
  
  .test{
    /* Background comme body */
    background-color: #F8F3F3;
}

.friend{
    margin: 7%;
}

.demandeAmi{
    display: flex;
    flex-direction: row;
    /* Colum gap : 10px */
    column-gap: 2%;
}
.partFriend{
    margin:2%;
}

.partFriend h2{
    color: #2B2E42;
}
.partFriend h1{
    color: #2B2E42;
}

.accepted{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}

.accepted h2{
    font-size: 1.2em;
    color: #2B2E42;
}